
.hero{
    width: 600px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px 100px;
    gap: 30px;
}

.heading {
    font-family: "Ubuntu";
    font-size: 49px;
    font-weight: 700;
}
.sub-heading {
    font-size: 18px;
    font-weight: 600;
}
form{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* height: 400px; */
    justify-content: center;
}   

form div{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
form  input{
    height: 50px;
    padding: 15px 10px;
    background-color: rgba(255, 255, 255, 0.075);
    border: 2px solid transparent;
    border-radius: 5px;
    font-size: 16px;
    /* width: 100%; */
    width: 100%;
    color: white;
}
form input:focus{
    border: 2px solid #7c7c7c;
}
.password-field{
    height: 50px;
    flex-direction: row  !important;
    align-items: center;
    border-radius: 5px;
    gap: 0px;
    background-color: rgba(255, 255, 255, 0.075);
    border: 2px solid transparent;
}.password-field:focus-within{
    border-color: #7c7c7c;
}
.password-field input{
    background-color: transparent;
    height: 100%;
}

.password-field input:focus{
    border:none;
}
.password-field .pass{
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.password-field .pass .image{
    width: 20px ;
    /* height: 20px; */
}
form div .error{
    margin-left: 10px;
    font-size: 13px;
    color: var(--color);
    height: 13px;
}

form .otp{
    display: flex;
    flex-direction: column;
    gap:15px;
}
form .otp .otp-input{
    flex-direction: row;
    gap: 10px;
}
form .otp-send{
    padding: 10px 30px;
    background-color: white ;
    border-radius: 10px;
    color: #292929;
    align-self: center;
    font-size: 14px;
    font-weight: 600;
}

form  .otp-send:active{
    background-color: rgba(255, 255, 255, 0.799) ;
}
form .otp .otp-input input{
    width: 100% !important;
    text-align: center;
}

form .submit{
    background-color: white;
    padding: 15px 10px;
    border-radius: 10px;
    font-size: 16px;
    color: #292929;
    font-weight: 600;
}
form .submit:active{
    background-color: rgba(255, 255, 255, 0.493);
}

.hero .go-back{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* background-color: #7c7c7c; */
}
.hero .go-back button{
    padding: 5px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero .go-back button:hover{
    background-color: #7c7c7c;
}
.hero .go-back .button a{
    height: fit-content;
    width: fit-content;
}
.hero .go-back button img{
    width: 20px;
    height: 20px;
}