:root {
    --color1: #181818;
    --color2: #080808;
    --color3: #252424;
    --hover:#2d2929;
    --active:#252424a9;
}
*{
    color: white;
}
.hero {
    width: 1538px;
    height: 100vh;
    color: white;
    background-color: var(--color1);
    display: flex;
    justify-content: center;
    font-family: "roboto" ;
}

::-webkit-scrollbar{
    display: none;
}

.hero .main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 9px;
    gap: 9px;
    color: white !important ;
}

.main nav {
    height: 80px;
    background-color: var(--color2);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    animation: nav-entry 0.6s;
}
@keyframes nav-entry {
    from{
        transform: translateY(-20px);
        opacity: 10%;
    }to{
        transform: translate(0px);
        opacity: 100%;
    }
}
nav .logo-sec {
    display: flex;
    gap: 15px;
    align-items: center;
}

nav .logo-sec .logo-img {
    width: 45px;
    height: 45px;
}

nav .logo-sec .logo-text {
    font-family: "bebas neue";
    font-size: 30px;
}

nav .search-sec {
    width: 500px;
    display: flex;
    flex-direction: column;
}

nav .search-sec .search-field {
    display: flex;
    gap: 10px;
    align-items: center;
}

nav .search-sec .search-field input {
    padding: 8px 15px;
    border-radius: 30px;
    border: 2px solid gray;
    background-color: var(--color3);
    width: 100%;
    height: 100%;
    font-size: 17px;
    color: white;
}

nav .search-sec .search-field input:focus {
    border-color: skyblue;
}

nav .search-sec .search-field .search {
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.3s;
    border-radius: 20px;
    border: 2px solid gray;
    background-color: var(--color3);
}

nav .search-sec .search-field .search:hover {
    border-color: skyblue;

}

nav .search-sec .search-field .search:active {
    background-color: #000000ac;
}

nav .search-sec .search-field img {
    width: 24px;
    height: 24px;
}

nav .user-sec {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

nav .user-sec img {
    width: 40px;
    height: 40px;
    border: 2px solid skyblue;
    border-radius: 50%;
}

nav .user-sec .account_detail {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

nav .user-sec:hover {
    background-color: var(--color3);
}

nav .user-sec .account_detail .username {
    font-size: 15px;
    font-family: "roboto" !important;
    font-weight: 600;
}

nav .user-sec .account_detail .email {
    font-family: "roboto" !important;
    font-size: 13px;
}

.main .container {
    display: flex;
    height: 100%;
    gap: 9px;
}

.main .container .left-side {
    width: 300px;
    border-radius: 5px;
    height: 100%;
    background-color: var(--color2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation: left-side-entry 0.6s ;
    transition-duration: 0.4s;
}

@keyframes left-side-entry {
    from{
        transform: translate(-20px, 20px);
        opacity: 10%;
    }to{
        transform: translate(0px);
        opacity: 100%;
    }
}
.left-side .top-sec{
    display: flex;
    flex-direction: column;
}
 .left-side .slide-bar-btn{
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid var(--color1);
 }

 .left-side .slide-bar-btn button{
    padding: 7px;
    border-radius: 30px;
    display: flex;
    align-items: center;
 }
 .left-side .slide-bar-btn button:hover{
    background-color: var(--hover);
 }
 .left-side .slide-bar-btn button:active{
    background-color: var(--active);
 }
 .left-side .slide-bar-btn button img{
    width: 25px;
    height: 25px;
 }

 .left-side .create-style{
    border-bottom: 1px solid var(--color1);
    padding: 10px;
 }
 .left-side .create-style button{
    background: linear-gradient(90deg, rgba(218,0,255,1) 0%, rgba(158,0,255,1) 100%);
    width: 100%;
    height: 50px;
    border-radius: 5px;
    color: white ;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: 1s;
 }
 
 
 .left-side .create-style button:hover{
    background: linear-gradient(90deg, rgba(218,0,255,0.7036064425770308) 0%, rgba(158,0,255,0.7) 100%);
 }

 .left-side .create-style button:active {
    background: radial-gradient(circle, rgba(218,0,255) 0%, rgba(158,0,255) 100%);
 }

 .left-side .create-style button img{
    width: 13px;
 }

 .left-side .prj-tab-sec{
    /* border-bottom: 1px solid var(--color1); */
    padding: 10px;
    color: white !important;
    display: flex;
    flex-direction: column;
    gap: 1px;
 }

 .left-side .prj-tab-sec button{
    background-color: var(--color3);
    
 }

 .left-side .prj-tab-sec button .a{
    text-decoration: none;
    padding: 20px;
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
 }

 .left-side .prj-tab-sec button img{
    width: 20px;
    height: 20px;
 }
 .left-side .prj-tab-sec button:hover{
    background-color: var(--hover);
 }

 .left-side .prj-tab-sec button:active{
    background-color: var(--active  );
 }


 .left-side .prj-tab-sec button:first-child{
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px ;
 }

 .left-side .prj-tab-sec button:last-child{
    border-bottom-left-radius: 10px ;
    border-bottom-right-radius: 10px ;
 }

 .down-sec{
    padding: 10px 5px;
    text-align: center;
    font-size: 11px;
 }

.main .container .right-side {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    background-color: var(--color2);
    padding: 10px;
    animation: right-side-entry 0.6s;
}
@keyframes right-side-entry {
    from{
        transform: translate(20px, 20px);
        opacity: 10%;
    }to{
        transform: translate(0px);
        opacity: 100%;
    }
}
.min-left-side{
    width: 80px !important;
}
.hide-text{
    display: none;
}