main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    font-family: var(--font-roboto);
}

.hero{
    width: 1538px;
    height: 100%;
    /* display: flex;
    flex-direction: column; */
    /* justify-content: center; */
}
.sec{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
nav{
    width: 100%;
    height: 80px;
    border-bottom: 2px solid var(--black);
    display: flex;
    align-items: center;
    padding: 20px;
    padding-right: 30px;
    justify-content: space-between;
}
nav .logo-side{
    display: flex;
    align-items: center;
    gap: 10px;
}
nav .image{
    width: 50px;
    height: 50px;
}

nav .text{
    font-family: var(--bebas-neue);
    font-size: 25px;
    font-weight: 900;
}

nav .navigation{
    display: flex;
    gap: 20px;
    font-size: 18px;
    align-items: center;
}
nav .navigation li {
    display: flex;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
    align-items: center;
}

nav .navigation li span{
    width: 0%;
    opacity: 0%;
    border: 1px solid var(--black);
    transition-duration: 0.4s;
}
nav .navigation li:hover span{
    opacity: 100%;
    width: 100%;
}

.log-in-btn{
    display: flex;
    gap: 10px;
    align-items: center;
}

.log-in-btn button{
    display: flex;
    align-items: center;
    padding: 8px 20px;
    border: 2px solid var(--black);
    border-radius: 30px;
    transition-duration: 0.3s;
}

.log-in-btn button:hover{
    background-color: var(--black);
    color: var(--white);
}
.log-in-btn button:active{
    background-color: var(--black-2);
}

@media (max-width:780px) {
    .log-in-btn{
        display: none;
    }
}

@media (max-width:650px) {
    .nav-btn-sec ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        transform: translateX(-99px) translateY(25px);
    }
    .nav-btn-sec ul li{
        padding: 10px;
        width: 120px;
        /* border: 1px solid black; */
        background-color: rgb(0, 0, 0);
        color: white;
    }

}

.welcome-sec{
    width: 100%;    
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
}

.welcome-sec .text-1{
    font-size: 60px;
    font-family: var(--font-Ubuntu);
    font-weight: 700;
    animation: text-1 1s;
    color: var(--black);
}
@keyframes text-1{
    from{
        transform: translateX(-200px);
        opacity: 0;
    }to{
        transform: translate(0);
        opacity: 100%;
    }
}
.welcome-sec .text-2{
    font-family: var(--bebas-neue);
    font-size: 100px;
    color: var(--color);
    animation: text-2 3s cubic-bezier(1, -0.23, 0, 0.69) ;

}
@keyframes text-2{
    0%{
        transform: translateX(1000px) scale(2);
    }
    20%{
        transform: translate(-1500px)  scale(2);
    }
    40%{
        transform: rotateY(180deg) scale(1);   
    }
    60%{
        transform: translate(1500px) rotateY(180deg) scale(1);   

    }
    100%{
        transform: translate(0) scale(1);
    }
}
.welcome-sec .text-3{
    font-size: 25px;
    animation: text-3 1s;
}

@keyframes text-3{
    from{
        transform: translatex(200px);
        opacity: 0;
    }to{
        transform: translate(0);
        opacity: 100%;
    }
}

 .get-started{
    display: flex;
    margin-top: 20px;
    align-items: center;
    gap: 0px;
}

.get-started div{
    background-color: black;
    color: white;
    padding:10px 20px;
    height: 100%;
}

    .get-started .btn-1{
    font-size: 18px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-right: 0px;
    
}
.get-started .btn-2{
    width: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition-duration: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0px;
    padding-right: 20px;
    overflow: hidden;
}
.get-started:hover .btn-2{
    padding: 10px;
    width: 50px;
}

.get-started .btn-2 .image-2{
    animation: btn-2-hover 1s;

}

@keyframes btn-2-hover{
    0%{
        transform: translate(0);
    }
    40%{
        transform: translateX(-10px);
    }
    100%{
        transform: translateX(40px);
    }
}

 .get-started:hover .btn-1{
    padding-right: 0px;
}


.tool-sec{
    width: 100%;
    height: 696px;
    /* background-color: #ebc713  ; */
    display: flex;
    padding: 20px;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.tool-sec .left-side{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tool-sec .right-side{
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.tool-sec .right-side button{

    padding: 10px 10px;
    /* background-color: gray; */
    font-size: 17px;
    font-weight: 700;
    border-radius: 50px;
    gap: 10px;
}


.tool-sec .right-side .btn0 {
    border: 2px solid black;
    
}

.tool-sec .right-side .btn0:hover {
    border-color: #0078D4;
    color: #0078D4;
    background-color: transparent;
}

.tool-sec .right-side .btn0:active {
    background-color: #0078d46b;
}

.tool-sec .right-side .btn1 {    border: 2px solid black;

}

.tool-sec .right-side .btn1:hover {
    border-color: #D83B01;
    color: #D83B01;
    background-color: transparent;

}

.tool-sec .right-side .btn1:active {
    background-color: #D83B016b;
}

.tool-sec .right-side .btn2 {
    border: 2px solid black;
}

.tool-sec .right-side .btn2:hover {
    border-color: #217346;
    color: #217346;
    background-color: transparent;

}

.tool-sec .right-side .btn2:active {
    background-color: #2173466b;
}

.tool-sec .right-side .btn3 {
    border: 2px solid black;
}

.tool-sec .right-side .btn3:hover {
    border-color: #6E6E6E;
    color: #6E6E6E;
    background-color: transparent;

}

.tool-sec .right-side .btn3:active {
    background-color: #6E6E6E6b;
}

.tool-sec .right-side .btn4 {
    border: 2px solid black;
}

.tool-sec .right-side .btn4:hover {
    border-color: #800080;
    color: #800080;
    background-color: transparent;

}

.tool-sec .right-side .btn4:active {
    background-color: #8000806b;
}

.tool-sec .right-side .btn5 {
    border: 2px solid black;
}

.tool-sec .right-side .btn5:hover {
    border-color: #008080;
    color: #008080;
    background-color: transparent;

}

.tool-sec .right-side .btn5:active {
    background-color: #0080806b;
}

.dwo{
    width: 100%;    height: 696px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.dwo .dwo-image{
    width: 500p;
    height: 500px;
}

.dwo .dwo-text{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;
}

.dwo .dwo-text .heading{
    font-size: 50px;
}
.dwo .dwo-text .paragraph{
    font-size: 20px;
    font-family: var(--roboto-condensed);
}

.get-started-sec{
    background-color: var(--black);
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.get-started-sec .text{
    color: var(--white);
    font-size: 50px;
}

.get-started-sec .get-started div{
    color: black ;
    background-color: var(--white) ;
    font-weight: 600;
}

@media (max-width:1040px){
    .dwo{
        /* flex-direction: column-reverse; */
        height: 600px;
        padding: 15px;
        gap: 15px           ;
    }
    .dwo .dwo-image{
        width: 400px;
        height: 350px;
    }
    .dwo .dwo-text{
        width: 350px;
        /* align-items: center; */
    } 
    .dwo .dwo-text .heading{
        font-size: 30px;
    }
    .get-started-sec .text{
        font-size: 4vmax;
    }
}
@media (max-width:868px){
    .tool-sec{
        flex-direction: column !important;
        align-items: center;
    }
    .tool-sec .right-side{
        flex-direction: row;
        flex-wrap: wrap;
        width: fit-content;
        justify-content:center ;
        gap: 10px;
    }
    .tool-sec .right-side button{
        width: fit-content;
        font-size: 100%;
        padding: 10px 20px;
        font-weight: 400 !important;
        border-radius: 30px !important;
    }
}

@media (max-width:730px){
    .welcome-sec .text-1{
        font-size: 40px;
    }
    .welcome-sec .text-2{
        font-size: 70px;
    }
    .welcome-sec .text-3{
        font-size: 20px;
    }
}
@media (max-width:650px){
    .dwo{
        flex-direction: column;
    }
    .dwo .dwo-image{
        width: 100%;
        height: 80%;
    }
    .dwo-text{
        width: 100%;
    }
}
@media (max-width:450px){
    .hero{
        width: 100%;
         /* background-color: #0078d46b; */
    }
    .get-started-sec .text{
        width: 80%;
    }
}

@media (max-width:380px){
    .dwo-text {
        width: 100% !important;
    }
}

@media (max-width:470px){
    .welcome-sec .text-1{
        font-size: 35px;
    }
    .welcome-sec .text-2{
        font-size: 50px;
    }
    .welcome-sec .text-3{
        font-size: 20px;
    }
}

@media (max-width:330px){
    .welcome-sec .text-1{
        font-size: 25px;
    }
    .welcome-sec .text-2{
        font-size: 40px;
    }
    .welcome-sec .text-3{
        font-size: 15px;
    }
}