main{
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #292929;
    color: white;
}

.hero{
    width: 600px;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: rgb(161, 194, 223); */
    padding: 20px 10px;
    gap: 30px;
    /* box-shadow: 0px 0px 20px black; */
}

.heading{
    font-size: var(--roboto);
    font-size: 45px;
    font-weight: 700;
}
.sub-heading{
    font-size: 18px;
    font-weight: 600;
}
form{
    padding: 10px 10%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
form div{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
form  input{
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.075);
    border: 2px solid transparent;
    border-radius: 5px;
    /* width: 100%; */
    width: 100%;
}
form input:focus{
    border: 2px solid #7c7c7c;
}
.password-field{
    flex-direction: row  !important;
    align-items: center;
    border-radius: 5px;
    gap: 0px;
    background-color: rgba(255, 255, 255, 0.075);
    border: 2px solid transparent;
}.password-field:focus-within{
    border-color: #7c7c7c;
}
.password-field input{
    background-color: transparent;
}

.password-field input:focus{
    border:none;
}
.password-field .pass{
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.password-field .pass .image{
    width: 20px ;
    /* height: 20px; */
}
form div .error{
    margin-left: 10px;
    font-size: 13px;
    color: var(--color);
    height: 13px;
}
form .submit{
    padding: 10px 15px;
    margin-top: 10px;
    align-self: flex-end;
    border-radius: 10px;
    border: 2px solid transparent;
    background-color: rgb(37, 122, 37);
    font-weight: 600;
}
form .submit:hover{
    border-color: rgb(37, 122, 37);
    color: rgb(37, 122, 37);
    background-color: transparent;
}

form .submit:active{
    background-color: rgba(37, 122, 37, 0.411);
}

.or{
    border: 1px solid #7c7c7c;
}
.sign_in{
    display: flex;
    justify-content: center;
    gap: 3px;
}
.sign_in span{
    color: #5151d3;
}