main{
  width: 100%;
  background-color: #292929;
  height: 100%;
  color: white;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  font-family: "Ubuntu ",sans-serif;
}
*{
    color: white;
}
:root {
  --color1: #181818;
  --color2: #080808;
  --color3: #252424;
  --hover:#2d2929;
  --active:#252424a9;
}