:root{
  --color: #e22b2b;
  --white: #ffffff;
  --black:#000000;
  --black-2:#000000bf;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "roboto" ;
}

button{
  cursor: pointer;
  background-color: transparent;
  border: none;
}

